Dockerfile
./.vscode
./.pytest_cache
./__pycache__
./venv
.coverage
alembic.ini
./DB/database.sqlite
./DB/__pycache__
./Models/__pycache__
./routers/__pycache__
./test/__pycache__
.dockerignore
./htlmcov